@page
@model IndexModel
@{
    ViewData["Title"] = "Lilian's Music";
}

<div class="text-center">
    <h1 id ="Music" class="display-4" onmouseover="newColor()" onmouseout="oldColor()">My Music</h1>
    <p>I love this song, it makes me want to dance.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WMweEpGlu_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
